<%- include('partials/loginNav') %>


  <div class="container" id="secrets">
    <h1 class="confess-heading">Confessions</h1>
    <%userSecrets.forEach(function(user){%>
    <a style="text-decoration:none;" href="/secrets/<%=user.secret.title%>" class="read-more">
        <div class="secret-text">
          <h3 class="secret-heading"><%=user.secret.title%></h3>
          <p><%=user.secret.content.slice(0,250)%>....</p>
      </div>
      </a>

    <%})%>

    <hr>

  <!--  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
  </div>


<%- include('partials/footer') %>
